@import "variables.scss";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body { // Bootstrap overrides - body{} wrapper used for precedence 
    .btn {
        outline: 0 !important;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-top: 0;
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ellipses {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}